:root {
  --primary-text-color: #434455;
  --title-text-color: #2e2f42;
  --logo-text-color: #4d5ae5;
  --primary-bg-color: #ffffff;
  --accent-color: #ffffff;
  --button-bg-color: #f4f4fd;
  --pr-button-text-color: #ffffff;
  --pr-button-bg-color: #4d5ae5;
  --sc-button-text-color: #4d5ae5;
  --sc-button-bg-color: #f4f4fd;
  --button-active: #404BBF;
  --accent-bg-color: #2E2F42;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6, p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  color: var(--primary-text-color);
}

.link:hover,
.link:focus {
  color: var(--logo-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.link:active {
  color: var(--primary-text-color);
}

body {

  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.02em;
  
  font-size: 16px;

}

/*Header*/
.page-header {

  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);

}


section {
  padding-top: 120px;
  padding-bottom: 120px;
}


.container {
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

}


.page-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-nav {
  display: flex;
  align-items: center;
}

.page-list {
  display: flex;
  align-items: center;
}

.page-contact {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.page-contact-email {
  margin-right: 40px;
}

.logo {
  margin-right: 77px;
}

.page-link {
  padding-top: 24px;
  padding-bottom: 24px;

  position: relative;

  display: block;
}

.page-link.current::after {
  content: '';

  position: absolute;
  left: 0;
  bottom: 0;

  display: block;
  width: 100%;
  height: 4px;

  background-color: #404BBF;
  border-radius: 2px;


}



.page-items:not(:last-child) {
  margin-right: 40px;

}


.logo {

  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.3;

  letter-spacing: 0.03em;
  text-transform: uppercase;
  
  
  color: var(--title-text-color);
  text-decoration: none;
}

.logo-web {
  color: var(--logo-text-color);
}

/*Page nav*/

.page-nav .link {

  color:var(--title-text-color) ;
  font-weight: 500;

}

.page-nav:hover,
.page-nav:focus {
  color: var(--primary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.page-nav:active{
  color: var(--sc-button-text-color);
}

/*Hero*/


.hero {
  max-width: 1440px; 
  margin: 0 auto; 
  height: 603px;

  background-color: var(--accent-bg-color) ;
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/hero/people_office.jpg');
  
  padding-top: 192px;
  padding-bottom: 192px;
  background-size: cover;


  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.hero-title {

  color: var(--accent-color);
  font-weight: 700;
  font-size: 56px;
  line-height: 1.1;
  max-width: 1440px; 
  margin: 0 auto; 
  text-align: center;
}


/*Button*/
.order-button {
  display:flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 48px;


  padding: 16px 32px;

  font-family: inherit;

  font-weight: 700;
  color: var(--accent-color);
  background-color: var(--pr-button-bg-color);

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0;

  font-size: 16px;
  line-height: 1.2;

  align-items: center;
  letter-spacing: 0.04em;
  cursor: pointer;

  border-radius: 4px;
}

.hero .order-button:hover,
.hero .order-button:focus {
  color: var(--button-bg-color);
  background-color: var(--pr-button-bg-color);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) ;

}

.hero .order-button:active {
  color: var(--pr-button-text-color);
  background-color: var(--button-active);
}


/*Features*/



.features-container {
  display: flex;
  gap: 24px;
}

.features-item .title {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  color:var(--title-text-color);

  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;

  margin-bottom: 8px;

  
}


.item-icon {

  width: 264px;


  display: flex;
  align-items: center;
  justify-content: center;

  height: 112px;
  background: #F4F4FD;


  margin-bottom: 8px;

  border-radius: 4px;
}




.text {
  font-weight: 400;
  color: var(--accent-bg-color);
  line-height: 1.5;
}

/*Portfolio*/

.portfolio-section {
  position: relative;
}


/*Filters*/


.filter {
  font-weight: 700;
  letter-spacing: 0.04em;

  display: flex;
  justify-content: center;

  padding: 0;

  gap: 24px;

  margin-bottom: 72px;

}


.visually-hidden { 
 position: absolute;
 width: 1px;
 height: 1px;
 margin: -1px;
 border: 0;
 padding: 0;
 clip: rect(0 0 0 0);
 overflow: hidden;
} 

/*Button*/

.button {

  color: var(--pr-button-text-color);
  background-color: var(--button-bg-color);

  font-family: 'Roboto';
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;


  padding: 12px 24px;

  border: 1px solid #E7E9FC;
  border-radius: 4px;
}



.button.primary {
  color: var(--pr-button-text-color);
  background-color: var(--pr-button-bg-color);
  
}

.button.secondary {
  color: var(--sc-button-text-color);
  background-color: var(--sc-button-bg-color);

  
}



.button.primary:hover,
.button.primary:focus,
.button.secondary:hover,
.button.secondary:focus {
  color: var(--accent-color);
  background-color: var(--pr-button-bg-color);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),  box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.button.primary:active,
.button.secondary:active {
  color: #ffffff;
  background-color: var(--button-active);
}



/*Works*/


.work-list  {
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}


/*Work set*/

.work-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 8px;
}

.work-set {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;

  letter-spacing: 0.02em;


}

.set-item {
  flex-basis: calc((100% - 48px) / 3);
  
  border: 0.5px solid #F4F4FD;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);

}



.set-item:hover,
.set-item:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-work {
  display: block;
}


.link-work:hover,
.link-work:focus {
  color: var(--accent-bg-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-work:hover .overlay,
.link-work:focus .overlay {
  transform: translate(0, 0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-work-item {
  position: relative; 
  overflow: hidden; 
}


.overlay {
  position: absolute;

  left: 0;
  top: 0;

  width: 100%;
  height: 100%;

  /*overflow: auto;*/

  padding-top: 40px;
  padding-right: 32px;
  padding-left: 32px;


  transform: translate(0, 100%);

  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;

  letter-spacing: 0.02em;
  
  color: #F4F4FD;

  background: var(--pr-button-bg-color);
}



.item-wrap {

  margin: 32px 0;
  
  padding: 0 16px 0 16px;
}



/*Team*/



.section-title {
  
  color: var(--title-text-color);
  font-weight: 600;
  font-size: 36px;
  line-height: 1.11;


  text-align: center;
  text-transform: capitalize;

  margin-bottom: 72px;

}

.section-work {
  background-color: #F4F4FD;
}

.member-list {
  display: flex;
  gap: 24px;
  
}

.member-list-item {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.member {
  padding: 32px 16px;
  background-color: var(--primary-bg-color);
}

.name {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 8px;
}

.position {
  text-align: center;
  margin-bottom: 12px;
}


.social-list {
  display: flex;
  justify-content: center;
  gap: 24px;

}


.social-list-link{
  display: flex;
  justify-content: center;
  align-items: center;

  width: 40px;
  height: 40px;

  border-radius: 50%;

  background-color: #4D5AE5;

  fill: #F4F4FD;
}

.social-list-link:hover,
.social-list-link:focus {
  background-color: #31D0AA;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



/*Customers*/

.customers {
  height: 202px;
}

.customer-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;

}

.customer-list-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 168px;
  height: 88px;

  border: 1px solid #8E8F99;
  border-radius: 5px;
 
  fill: #8E8F99;
  
}


.customer-list-item:hover,
.customer-list-item:focus {
  border: 1px solid #4D5AE5;
  fill: #4D5AE5;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),  fill 250ms cubic-bezier(0.4, 0, 0.2, 1);;
}







/*Footer*/

.footer {
  display: flex;
  justify-content: space-between;
  
  padding-top: 100px;
  padding-bottom: 100px;

  background-color: var(--title-text-color);

}

.footer-text {
  width: 264px;
  left: 156px;
  top: 2421px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;

  letter-spacing: 0.02em;
  margin-top: 16px;

  color: #e7e9fc;
}

.logo-footer {
  padding-bottom: 16px;
}

.logo-studio {
  color: #f4f4fd;
}

.social-media {
  display: flex;
  gap: 120px;

}

.social-media-title {
  font-weight: 500;
  line-height: 1,5;
  color: var(--accent-color);
  margin-bottom: 24px;
}

.social-media-item {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 40px;
  height: 40px;

  border-radius: 50%;

  background-color: rgba(255, 255, 255, 0.1);
  fill: #F4F4FD;
}

.social-media-list {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.social-media-item:hover,
.social-media-item:focus {
  background-color: #31D0AA;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*Modal Window*/

.backdrop {
  position:fixed;
  z-index: 100;
  top: 0;
  left: 0;
  
  width: 100%;
  height: 100%;
  
  background: rgba(46, 47, 66, 0.4);

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  width: 408px;
  height: 576px;
  background: #FCFCFC;

  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}


.modal-close {  
  position: absolute;
  top: 24px;
  right: 24px;

  display: flex;
  align-items: center;
  justify-content: center;


  background: #E7E9FC;
  border: 1px solid rgba(0, 0, 0, 0.1);

  padding: 0;

  width: 24px;
  height: 24px;
  
  border-radius: 50%;
}

.modal-close:hover,
.modal-close:focus {

  background-color: #404BBF;
  fill: #FFFFFF;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  
}


